/* the search box */
  .Search{
    position: relative;
    padding-bottom: 2%;
  }
  .searchBox{
    margin-top: 2.5%;
    margin-left: 22%;
  }
  .searchBoxtitle{
    float: right;
    margin-right: 32%;
  }
  /* the main area of the questions and anwers */
  .TheQuestionPage{
    position: relative;
    margin: auto;
    width: 50%;
    margin-top: 2%;
  }
  .question{
    margin-top: 1%;
    margin-right: 5%;
    font-size: large;
  }
  .answer{
    position: relative;
    border: 2px solid #e0e2ee;
    border-radius: 15px;
    height: 50%;
    width: 35%;
    margin:auto;
    margin-top: 2%;
    background-color:#ffffff;
    transition: background-color 1s,color 1s;
    float: right;
    margin-right: 10%;
    
  }
  .answer:hover{
    background-color: #5a4dff;
    color: #ffffff;
    border: 2px solid #5a4dff;
  
  }
  /* the common questions area */
  .commonAnswers{
    position: relative;
    margin-top: 40%;
  }
  .answerObj{
    position: relative;
    float: right;
    width: 20%;
    padding: 1%;
    border-radius: 5px;
    font-size: small;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    margin-left: 2%;
    margin-top: 3%;
    transition: background-color 1s,color 1s;
  }
  .answerObj:hover{
    background-color: #5a4dff;
    color: #ffffff;
    border: 2px solid #5a4dff;
  }