/* the search box */
  .Search{
    position: relative;
    margin-right: 20%;
    margin-left: 35%;
    

    /* background-color: violet; */
  }
  /* .searchBox{
    margin-top: 2.5%;
    margin-left: 28%;
  } */
  /* .searchBoxtitle{
    float: right;
    margin-right: 32%;
  } */
  .searchInputs{
    display: flex;
  }
  .Search input{
    background-color:white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
  }
  .searchIcon{
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  input:focus{
    outline: none;
  }
  .searchIcon svg{
    font-size: 25px;
  }
  .dataResult {
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
/* .dataResult{
  width:100%;
  height:30%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar{
  display: none;
}

.dataResult .dataItem{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  color:black;
  border:2px solid black;
}

.dataItem p{
  margin-right: 1%;
  cursor:pointer;
}

p:hover{
  background-color: lightgray;
} */
  /* the main area of the questions and anwers */
  .TheQuestionPage{
    position: relative;
    margin: auto;
    width: 50%;
    padding-bottom:10%;
    /* border: 2px solid black; */
    margin-top: 2%;
  }
  .question{
    margin-top: 1%;
    margin-right: 5%;
    font-size: large;
  }
  .answer{
    cursor: pointer;
    position: relative;
    border: 2px solid #e0e2ee;
    border-radius: 15px;
    height: 50%;
    width: 40%;
    margin:auto;
    margin-top: 2%;
    background-color:#ffffff;
    transition: background-color 1s,color 1s;
    float: right;
    margin-right: 8%;
  }
  .answer:hover{
    background-color: #5a4dff;
    color: #ffffff;
    border: 2px solid #5a4dff;
  }
  /* this class does an over on an answer when pressing a key BUT it doesnt work yet */
  .answerSelectedByKey{
    background-color: #5a4dff;
    color: #ffffff;
    border: 2px solid #5a4dff;
  }
  /* the common questions area */
  .commonAnswers{
    position: relative;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .answerObj{
    cursor: pointer;
    position: relative;
    float: right;
    width: 20%;
    padding: 1%;
    border-radius: 5px;
    font-size: small;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    margin-left: 2%;
    transition: background-color 1s,color 1s;
  }
  .answerObj:hover{
    background-color: #5a4dff;
    color: #ffffff;
    border: 2px solid #5a4dff;
  }
  .wasSelected{
    border: 2px solid #5a4dff;
  }