/* Top */
.FirstPage{
    position: relative;
    padding: 1%;
    /* border: 2px solid #5a4dff; */

}
/* .FirstPage >h1{
     border: 2px solid #5a4dff; 

} */
#compass{
    position:relative;
    width: 20%;
    height:25%;
    /* border: 2px solid #5a4dff; */
}
.btnStart{
    position: relative;
    padding: 2%;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    transition: background-color 1s,color 1s;
  
}
.btnStart:hover{
    background-color: #5a4dff;
    color: #ffffff;
    border: 2px solid #5a4dff;
}
/* bottom */
.InCargeSelection{
    position: relative;
    padding: 8%;
    /* padding-top: 16%; */
    /* border: 2px solid #5a4dff; */

}
.InchargeSelectedCard{
    cursor: pointer;
    position: relative;
    border: 2px solid #e0e2ee;
    border-radius: 15px;

    width: 22%;
    margin-top: 1%;
    background-color:#ffffff;
    transition: background-color 1s,color 1s;
    float: right;
    margin-right: 2%;
    
}
.InchargeSelectedCard:hover{
    background-color: #5a4dff;
    color: #ffffff;
    border: 2px solid #5a4dff;
  
}