.App{
  margin:0px;
  top: 0px;
}

button{
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}
.buttons{
  position:relative;
  color: black;
  background-color:rgb(231, 221, 255);
  padding: 1%;
  height: 35px;
}

/* Home button */
.Home{
  top: 0px;
  margin-right: 5%;
  float: right;
  transition: background-color 1s,color 1s;
}
.Home:hover{
  background-color: #928bf7;
  color: #ffffff;
  border: 2px solid #5a4dff;
}
/* History Button */
.History{
  margin-right: 1%;
  float: right;
  transition: background-color 1s,color 1s;
}
.History:hover{
  background-color: #928bf7;
  color: #ffffff;
  border: 2px solid #5a4dff;
}
/* Back button */
.btnPrev{
  margin-left: 5%;
  float: left;
  transition: background-color 1s,color 1s;

}
.btnPrev:hover{
  background-color: #928bf7;
  color: #ffffff;
  border: 2px solid #5a4dff;
}
.backPrevByKey{

  background-color: #5a4dff;
  color: #ffffff;
  border: 2px solid #5a4dff;
}